*{
    cursor:url('cyanMiniCircle.png'), auto;
 }


 #hitbox {

    height:800px;
    width:800px;
    position:relative;
    left:35%;
    top:27%;

 }

 #hitbox2 {

   width:1%;
   height:1%;
   position:absolute;
   padding:13%;

 }


 #target {

    position:absolute;
    left:38%;
    top:32%;

 }

 #sec {

    position:absolute;
    left:47%;
    top:10%;

 }

 #score {

    position:absolute;
    left:37%;
    top:14%;
 }

 #btns {

    position:absolute;
    left:20%;
    top:8%;
    background:black;
    height:30px;
    width:60px;

 }
